<% if !@user.has_pets%>
  <div class='buttons'>
  <%= link_to 'New Pet', new_user_pet_path(@user)%> 
  </div>
  <br>
  <h3>You Currently Do Not Have Any Pets</h3>
  <h5>Click 'New Pet' to Add Yours!</h5>
  <br>

<% else %>

<h2>Your Pets!</h2>
<div id='pets-container' data-id="<%= current_user.id %>">
</div>
<div id="form">
        <h3>New Pet</h3>
        <form id="pet-form">
          <input type="text" name="name" placeholder="name"/>
          <br/>
          <input type="text" name="animal_type" placeholder="animal_type"/>
          <br/>
          <input type="text" name="breed" placeholder="breed"/>
          <br/>
          <input type="text" name="gender" placeholder="gender"/>
          <br/>
          <input type="date" name="birthdate" placeholder="birthdate"/>
          <br/>
          <input type="text" name="weight" placeholder="weight"/>
          <br/>
          <input type="url" name="image_url" placeholder="image_url"/>
          <br/>
          <input type="submit" value="Submit"/>
        </form>
      </div>
<br>

<% end %>

