<% if !@user.has_pets%>
  <div class='buttons'>
  <%= link_to 'New Pet', new_user_pet_path(@user)%> 
  </div>
  <br>
  <h3>You Currently Do Not Have Any Pets</h3>
  <h5>Click 'New Pet' to Add Yours!</h5>
  <br>

<% else %>

<h2>Your Pets!</h2>
<div class='buttons'>
<%= link_to 'New Pet', new_user_pet_path(@user)%>
</div>
<br>
<div id='pet-container' data-id="<%= current_user.id %>">
</div>
<% end %>

